################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Chapter18.DataGridView/Chapter18.DataGridView/bin/Debug
/Chapter18.CustomerMaintenance/.vs
/Chapter18.CustomerMaintenance/Chapter18.CustomerMaintenance/bin
/Chapter18.CustomerMaintenance/Chapter18.CustomerMaintenance/obj
/Chapter19.CustomerMaintenance/Chapter19.CustomerMaintenance/obj/Debug
/Chapter19.CustomerMaintenance/.vs/Chapter19.CustomerMaintenance/v15
/Chapter19.CustomerMaintenance/Chapter19.CustomerMaintenance/bin/Debug
/Chapter19.CustomerInvoices/.vs/Chapter19.CustomerInvoices/v15
/Chapter19.CustomerInvoices/Chapter19.CustomerInvoices/bin/Debug
/Chapter19.CustomerInvoices/Chapter19.CustomerInvoices/obj/Debug
/Chapter20.CustomerMaintenance/.vs/
/Chapter20.CustomerMaintenance/Chapter20.CustomerMaintenance/obj/Debug
/Chapter23.CustomerInvoices/.vs/
/Chapter23.CustomerInvoices/Chapter23.CustomerInvoices/
/Chapter24.CustomerDataModel/.vs/Chapter24.CustomerDataModel/v15
/Chapter24.CustomerDataModel/Chapter24.CustomerDataModel/obj
/Chapter24.CustomerDataModel/Chapter24.CustomerDataModel/bin
/Chapter24.CustomerDataModel/packages/EntityFramework.6.1.3
/Chapter24.CustomerMaintenance/Chapter24.CustomerMaintenance/obj/Debug
/Chapter24.CustomerMaintenance/Chapter24.CustomerMaintenance/bin/Debug
/Chapter24.CustomerMaintenance/packages
/Chapter24.CustomerMaintenance/.vs
/Chapter24.CustomerMaintenance.zip
/Chapter24.CustomerMaintenance/Chapter24.CustomerMaintenanceTest/obj/Debug
/Chapter24.CustomerMaintenance/Chapter24.CustomerMaintenanceTest/bin/Debug
