################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Murach's JavaScript and JQuery/.vs/slnx.sqlite
